@import "./normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Play:wght@400;700&display=swap");
html {
  font-size: 16px;
}
@media screen and (max-width: 480px) {
  html {
    font-size: 3.3333vmin;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Play", Arial, Helvetica, sans-serif;
  line-height: 1.1875rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 920px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background-color: #F5F5F5;
}
.hero::before {
  position: absolute;
  bottom: -1.875rem;
  right: 10%;
  content: url("../../../Beats/hero/rectangle_hero.svg");
}

.hero__title-section {
  width: 46%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 0 9%;
    margin-bottom: 0.3125rem;
  }
  .hero__title-section::before {
    content: "";
    background: url("../../../Beats/img/hero/headset.svg") center center/contain no-repeat;
    width: 21.875rem;
    height: 21.875rem;
    margin-bottom: 4.0625rem;
  }
}
@media screen and (max-width: 768px) and (max-width: 480px) {
  .hero__title-section::before {
    width: 20.1875rem;
    height: 20.1875rem;
  }
}

.hero__main-title {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.25rem;
  text-transform: uppercase;
  margin-bottom: 1.5625rem;
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    font-size: 2.25rem;
    line-height: 2.25rem;
    padding: 0 10%;
  }
}

.hero__disc-title {
  font-family: "Alegreya Sans";
  font-weight: 400;
  line-height: 1.5625rem;
  font-size: 1.3125rem;
  padding-right: 24%;
  margin-bottom: 3.125rem;
}
@media screen and (max-width: 768px) {
  .hero__disc-title {
    padding-right: 0;
    padding: 0 20%;
    margin-bottom: 1.4375rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__disc-title {
    padding: 0 13%;
    font-size: 1.125rem;
    line-height: 1.25rem;
  }
}

.hero__container {
  background: url("../../../Beats/img/hero/headset.svg") right bottom 25%/50% auto no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 0rem 4.375rem;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.beats__logo {
  fill: #E01F3D;
  width: 2.5rem;
  height: 2.5rem;
}

@media screen and (max-width: 768px) {
  .phone.header__phone {
    display: none;
  }
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  padding-top: 0.5625rem;
}
@media screen and (max-width: 480px) {
  .phone {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/*.phone-number__icon {
  margin-right: rem(6px);
  width: rem(12px);
  height: rem(12px);
  flex-shrink: 0;
}*/
.phone__icon {
  fill: #292929;
  margin-right: 0.375rem;
  width: 0.875rem;
  height: 0.875rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.phone-number__text {
  text-decoration: none;
  font-size: 1.125rem;
  white-space: nowrap;
}

.hamburger {
  width: 24px;
  height: 20px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #292929;
  height: 4px;
  border-radius: 10px;
}

.proofes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .proofes {
    display: none;
  }
}

.proofes__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.75rem;
}
.proofes__item :last-child {
  margin-right: 0;
}

.beats__ear {
  fill: black;
  height: 2.5625rem;
  width: 2.5625rem;
}

.beats__battery {
  fill: black;
  width: 2.4375rem;
  height: 2.4375rem;
}

.beats__plug {
  fill: black;
  width: 1.4375rem;
  height: 2.4375rem;
}

.proof {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 10.25rem;
}

.proof__icon {
  width: 2.5rem;
  margin-right: 0.625rem;
}

.proof__text {
  max-width: 7.125rem;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.125rem 2.5rem;
  border-radius: 6.25rem;
  border: none;
  cursor: pointer;
}
.btn--theme--red {
  background: #E01F3D;
  color: #FFFFFF;
}
.btn--theme--red:hover {
  background: #CA1B36;
}
.btn--theme--darkred {
  background: #CA1B36;
  color: #FFFFFF;
}
.btn--theme--darkred:hover {
  background: #E01F3D;
}
.btn--theme--transparent {
  background: transparent;
  color: #FFFFFF;
}
.btn--theme--transparent:hover {
  color: #E01F3D;
}
.btn--reset {
  text-transform: none;
  padding: 0 0.375rem;
}

.section {
  position: relative;
  height: 100vh;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.25rem;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 2rem;
  }
}
.section__title--delivery {
  margin-bottom: 3.625rem;
}
@media screen and (max-width: 768px) {
  .section__title--delivery {
    margin-bottom: 1.875rem;
  }
}
@media screen and (max-width: 768px) {
  .section__title--reviews {
    margin-bottom: 2.0625rem;
  }
}

.section__product {
  background: #F8FAF9;
}

.section__team {
  background: #fff;
}

.section__why {
  position: relative;
}
.section__why::before {
  position: absolute;
  bottom: -0.375rem;
  left: 5%;
  content: url("../../../Beats/img/why/why_bg_decor.svg");
}

.section__delivery {
  background: url("../../../Beats/img/delivery/delivery_bg.svg") center center/cover no-repeat;
  color: #fff;
}

.section__map {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.headline {
  text-align: center;
  margin-bottom: 3.875rem;
}

.headline__title {
  margin-bottom: 1.125rem;
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 3.25rem;
}
@media screen and (max-width: 480px) {
  .headline__title {
    font-size: 2rem;
    line-height: 2.25rem;
  }
}

.headline__title-disc {
  padding: 0 24%;
}
@media screen and (max-width: 480px) {
  .headline__title-disc {
    padding: 0 3.9%;
  }
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 1.1875rem;
    margin-bottom: 1.9375rem;
  }
}
.benefits__item::before {
  content: url("../../../Beats/img/why/bennefet_splitter.svg");
  position: absolute;
  top: 3.75rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 768px) {
  .benefits__item::before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

.benefit__img-wrapper {
  display: inline-block;
  height: 8rem;
  width: 8rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 480px) {
  .benefit__img-wrapper {
    margin-bottom: 0;
    margin-right: 0.75rem;
  }
}

.benefit__battery {
  fill: black;
  width: 3.75rem;
  height: 3.75rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__speaker {
  fill: black;
  width: 3.3125rem;
  height: 2.9375rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__timer {
  fill: black;
  width: 3.625rem;
  height: 3.75rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.75rem;
  margin-bottom: 0.4375rem;
}

@media screen and (max-width: 480px) {
  .benefit__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/*.benefit__desc {
width: rem(247px);
}*/
.section__reviews {
  position: relative;
}
.section__reviews::before {
  position: absolute;
  bottom: -0.375rem;
  left: 5%;
  content: url("../../../Beats/img/reviews/reviews_bg.svg");
}

.container__reviews {
  background: #FFFFFF;
}

.reviews__dispaly {
  background: #F8FAF9;
  padding: 2.625rem;
  margin-bottom: 0.9375rem;
  overflow: hidden;
  position: relative;
}
.reviews__dispaly::before {
  content: "";
  display: block;
  width: 5.125rem;
  height: 5.125rem;
  background: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -3.75rem;
}
@media screen and (max-width: 768px) {
  .reviews__dispaly {
    margin-bottom: 2rem;
  }
}

.reviews__list {
  position: relative;
  min-height: 18.75rem;
}

.reviews__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  opacity: 0;
}
.reviews__item.active {
  position: static;
  opacity: 1;
  pointer-events: unset;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__avatar {
  width: 15.8125rem;
  height: 16.5rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 8.125rem;
    height: 8.125rem;
    margin-top: 1.3125rem;
    margin-bottom: 3rem;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    margin-left: 0;
  }
}

.reviews__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 1.6875rem;
}
@media screen and (max-width: 768px) {
  .reviews__title {
    margin-bottom: 1.125rem;
  }
}

.reviews__text {
  margin-bottom: 2.375rem;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    margin-bottom: 1rem;
  }
}

.reviews__author {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3125rem;
}

.reviews__sitcher-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__switcher-item {
  width: 4.625rem;
  height: 4.625rem;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.reviews__switcher-item.active {
  border: 0.25rem solid #E01F3D;
}

.interective-avatar {
  width: 4.625rem;
  height: 4.625rem;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interective-avatar .active {
  border: 0.25rem solid #E01F3D;
}

.interective-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interective-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container__delivery {
  max-width: 58.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 18%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.6875rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.6875rem;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0.9375rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__title {
  margin-bottom: 0.375rem;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1.0625rem 0.75rem;
  border: 0.1875rem solid transparent;
  border-radius: 0.25rem;
  font-size: 0.875rem;
}
.form__input.form__input-error {
  border-color: #E01F3D;
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}
.form__input--textarea {
  height: 9.375rem;
  resize: none;
  margin-bottom: 1.75rem;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 5.125rem;
  }
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.5rem 0.625rem;
  }
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form__controls--last__row {
  margin-bottom: 2.875rem;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    white-space: nowrap;
  }
}

.form__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media screen and (max-width: 768px) {
  .form__btns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 1.25rem;
  margin-right: 1rem;
  /*&:last-child {
    margin-bottom: 0;
  }*/
}
.radio--checkbox .radio__visible {
  border-radius: 0.25rem;
}
.radio--checkbox .radio__visible::before {
  background: url("../../../Beats/img/delivery/form_checkmark.svg") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.625rem;
  height: 1.625rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.625rem;
}
.radio__visible::before {
  content: "";
  display: none;
  width: 0.875rem;
  height: 0.875rem;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
}

.fixed-menu__item {
  margin-bottom: 0.3125rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}
.fixed-menu__item--active .fixed-menu__link::before {
  background: #E01F3D;
}

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background: #292929;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.875rem 0;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-media__logo {
  fill: #B3B3B3;
  width: 1.875rem;
  height: 1.875rem;
  cursor: pointer;
}
.footer-media__logo:hover {
  fill: black;
}

.contacts {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5rem;
}
@media screen and (max-width: 480px) {
  .contacts {
    margin-bottom: 1.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}
.phone-number__text {
  text-decoration: none;
}
@media screen and (max-width: 480px) {
  .phone-number {
    margin-top: 1.25rem;
  }
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-item {
  margin-right: 0.625rem;
}
.social-item:last-child {
  margin-right: 0;
}

.social-item__icon {
  width: 1.875rem;
  height: 1.875rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1.875rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0.3125rem;
}
@media screen and (max-width: 768px) {
  .menu__list {
    display: none;
  }
}

.menu__item {
  margin-right: 1.6875rem;
  margin-bottom: 0.625rem;
}
.menu__item :last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  font-family: "Alegreya Sans";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

.fullscreen-menu {
  display: none;
}

.active--menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10000;
}

.fullscreen-menu__item {
  margin-bottom: 0.9375rem;
}

.fullscreen-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullscreen-menu__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.875rem;
}

.fullscreen-menu__close {
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  width: 3.75rem;
  height: 3.75rem;
  line-height: 3.75rem;
  font-size: 3.75rem;
  text-align: center;
  text-decoration: none;
}

.products-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.products-slider .bx-wrapper {
  border: 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.products-slider__arrow {
  /*height: 100%;
  justify-content: center;
  display: flex;
  position: relative;
  margin: auto;*/
  top: 50%;
  position: absolute;
}
@media screen and (max-width: 768px) {
  .products-slider__arrow {
    top: 20.625rem;
  }
}
@media screen and (max-width: 480px) {
  .products-slider__arrow {
    top: 13.5rem;
  }
}
.products-slider__arrow--prew {
  left: 1.25rem;
}
@media screen and (max-width: 768px) {
  .products-slider__arrow--prew {
    left: 10%;
  }
}
@media screen and (max-width: 480px) {
  .products-slider__arrow--prew {
    left: 5%;
    top: 35%;
  }
}
.products-slider__arrow--next {
  right: 3.125rem;
}
@media screen and (max-width: 768px) {
  .products-slider__arrow--next {
    right: 10%;
  }
}
@media screen and (max-width: 480px) {
  .products-slider__arrow--next {
    right: 5%;
    top: 35%;
  }
}

.products-slider__link {
  text-decoration: none;
  font-size: 3.125rem;
}

/*.products {
  display: flex;
  max-width: rem(930px);
}*/
.product-item__display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .product-item__display {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.product-item__pic-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 3.75rem;
}
@media screen and (max-width: 768px) {
  .product-item__pic-wrap {
    margin-right: 0;
    width: 19.125rem;
    height: 19.125rem;
    margin-bottom: 3.125rem;
  }
}
@media screen and (max-width: 480px) {
  .product-item__pic-wrap {
    width: 19.125rem;
    height: 19.125rem;
  }
}

.product__pic {
  width: 100%;
}

.product-item__content {
  max-width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: "Play";
}
@media screen and (max-width: 768px) {
  .product-item__content {
    max-width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.product__feature-inner {
  position: relative;
  height: 5.6875rem;
  margin-bottom: 1.5625rem;
}
.product__feature-inner :hover .drop-disc__block {
  opacity: 1;
  visibility: visible;
}
.product__feature-inner--hov {
  width: 5.6875rem;
  height: 5.6875rem;
  background: #9A9A9A;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .product__feature-inner {
    display: none;
  }
}

.product_gear {
  position: relative;
  height: 2.625rem;
  width: 2.625rem;
  top: 25%;
  left: 25%;
  fill: #fff;
}

.product-item__title {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.625rem;
  text-transform: uppercase;
  margin-bottom: 1.5625rem;
}

.product-item__discrip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__discrip-explain {
  line-height: 1.1875rem;
  margin-bottom: 1.5625rem;
}

.product-feature__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5625rem;
}
@media screen and (max-width: 768px) {
  .product-feature__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
  }
}

.product-feature__item {
  min-width: 6.25rem;
  margin-right: 3rem;
}
.product-feature__item:last-child {
  margin-right: 0;
}

.product-feature__item-disc {
  font-size: 1.125rem;
  font-weight: 700;
}

.product__sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 3.75rem;
}
@media screen and (max-width: 768px) {
  .product__sale {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.product__price {
  font-size: 2.25rem;
  line-height: 3.75rem;
  text-transform: uppercase;
  margin-right: 0.875rem;
  white-space: nowrap;
}

.product__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.drop-disc__block {
  font-family: "Play";
  line-height: 24px;
  position: absolute;
  width: 260px;
  height: 294px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
          box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-radius: 4px;
  padding: 1.5625rem 1.375rem 1.9375rem 1.6875rem;
  top: 0;
  left: 27%;
  opacity: 0;
  visibility: hidden;
}
.drop-disc__block ::before {
  content: "";
  height: 100%;
  width: 91px;
  position: absolute;
  top: 0;
  left: -50px;
}

.drop-disk__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.drop-disc__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.75rem;
}
.drop-disc__item :last-child {
  margin-bottom: 0;
}
.drop-disc__item :nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.drop-disk__icon {
  margin-right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  fill: black;
}

.team.team--version--desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.team.team--version--desktop .team__content {
  position: absolute;
  top: 70%;
  max-width: 13.75rem;
}
@media screen and (max-width: 768px) {
  .team.team--version--desktop {
    display: none;
  }
}

.team {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__content {
  overflow: hidden;
  height: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.team.team--version--mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  display: none;
}
.team.team--version--mobile .team__item {
  padding-top: 1.5625rem;
  margin-right: 0;
}
.team.team--version--mobile .team__image {
  max-width: 13.75rem;
  max-height: 18.125rem;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .team.team--version--mobile {
    display: block;
  }
}

.team__item {
  margin-right: 1.25rem;
}
.team__item:last-child {
  margin-right: 0;
}

.team__member {
  margin-bottom: 1.3125rem;
}

.team__title {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  color: #000;
  font-size: 1.3125rem;
  font-weight: bold;
  margin-bottom: 0.875rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__title-text {
  margin-right: 0.3125rem;
}

.team__title-img {
  width: 0.625rem;
  height: 0.625rem;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.team__title-img.active-img {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.team__content-title {
  color: #000;
  margin-bottom: 0.3125rem;
}

.team__content-info {
  color: #666666;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 30%;
  width: 100%;
  background: rgba(33, 35, 37, 0);
  display: none;
}

.modal__container {
  height: 11rem;
  width: 19.375rem;
  background: #FFFFFF;
  text-align: center;
  margin: auto;
}

.modal__content {
  margin-bottom: 1.0625rem;
  color: #000;
  padding-top: 2.125rem;
}

.modal__content.modal-error {
  color: red;
  padding-top: 1.25rem;
  padding-inline: 1.25rem;
}

.fancybox-button {
  display: none;
}

.fancybox-content {
  padding: 0 !important;
}

.modal-error {
  color: red;
}