$containerWidth: 920px;

//colors
$red: #E01F3D;
$grey: #F8FAF9;
$bggrey: #F5F5F5;
$black: #292929;
$white: #FFFFFF;

//normalize
@import "./normalize.css";

//setups
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Play:wght@400;700&display=swap');
@import "./layout.scss";

//components
@import "./components/hero.scss";
@import "./components/header.scss";
@import "./components/proofes.scss";
@import "./components/proof.scss";
@import "./components/btn.scss";
@import "./components/section.scss";
@import "./components/headline.scss";
@import "./components/benefits.scss";
@import "./components/benefit.scss";
@import "./components/reviews.scss";
@import "./components/switcher.scss";
@import "./components/delivery.scss";
@import "./components/form.scss";
@import "./components/radio.scss";
@import "./components/fixed-menu.scss";