.drop-disc__block {
  font-family: 'Play';
  line-height: 24px;
  position: absolute;
  width: 260px;
  height: 294px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(40px);
  border-radius: 4px;
  padding: rem(25px) rem(22px) rem(31px) rem(27px);
  top: 0;
  left: 27%;
  opacity: 0;
  visibility: hidden;

  ::before {
    content: "";
    height: 100%;
    width: 91px;
    position: absolute;
    top: 0;
    left: -50px;
  }
}

.drop-disk__list {
  display: flex;
  flex-direction: column;
}

.drop-disc__item {
  display: flex;
  margin-bottom: rem(28px);

  :last-child {
    margin-bottom: 0;
  }

  :nth-child(2) {
    flex:1;
  }
}

.drop-disk__icon {
  margin-right: rem(16px);
  width: rem(24px);
  height: rem(24px);
  fill: black;
}