.section {
  position: relative;
  height: 100vh;
  min-height: rem(650px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__title {
  font-size: rem(48px);
  font-weight: 700;
  line-height: rem(52px);
  text-align: center;
  text-transform: uppercase;

  @include phones {
    font-size: rem(32px);
  }

  &--delivery {
    margin-bottom: rem(58px);

    @include tablets {
      margin-bottom: rem(30px);
    }
  }

  &--reviews {
    @include tablets {
      margin-bottom: rem(33px);
    }
  }
}

.section__product {
  background: #F8FAF9;
}

.section__team {
  background: #fff;
}

.section__why {
  position: relative;
  &::before {
    position: absolute;
    bottom: rem(-18px);
    left: 5%;
    z-index: 1;
    content: url("../../../Beats/img/why/why_bg_decor.svg");
  }

}

.section__product {
  &::before {
    position: absolute;
    bottom: rem(-18px);
    right: 5%;
    z-index: 1;
    content: url("../../../Beats/img/product/quadro.svg");
  }
}

.section__reviews {
  &::before {
    position: absolute;
    bottom: rem(-22px);
    left: 5%;
    z-index: 1;
    content: url("../../../Beats/img/reviews/ellipse.svg");
  }
}

.player-section {
  &::before {
    position: absolute;
    bottom: rem(-30px);
    right: 5%;
    z-index: 1;
    content: url("../../../Beats/img/player/polygon.svg");
  }
}


.section__delivery {
  background: url("../../../Beats/img/delivery/delivery_bg.svg") center center / cover no-repeat;
  color: #fff;
}

.section__map {
  width: 100%;
  height: 100%;
  object-fit: cover;
}