.contacts {
  font-weight: 400;
  font-size: rem(18px);
  line-height: rem(24px);

  @include phones {
    margin-bottom: rem(20px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.phone-number {
  display: flex;
  align-items: center;
  text-decoration: none;

  &__text {
    text-decoration: none;
  }

  @include phones {
    margin-top: rem(20px);
}

}