.section__delivery {
  background: url("../../../Beats/img/delivery/delivery_bg.svg") center center no-repeat;
}

.container__delivery {
  max-width: rem(937px);
  display: flex;
  flex-direction: column;
}