.section {
  position: relative;
  height: 100vh;
  min-height: rem(650px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__title {
  font-size: rem(48px);
  font-weight: 700;
  line-height: rem(52px);
  text-align: center;
  text-transform: uppercase;

  &--delivery {
    margin-bottom: rem(58px);

    @include tablets {
      margin-bottom: rem(30px);
    }
  }

  &--reviews {
    @include tablets {
      margin-bottom: rem(33px);
    }
  }
}

.section__product {
  background: #F8FAF9;
}

.section__why {
  position: relative;
  &::before {
    position: absolute;
    bottom: rem(-6px);
    left: 5%;
    content: url("../../../Beats/img/why/why_bg_decor.svg");
  }

}


.section__delivery {
  color: #fff;

}